<a href="https://colab.research.google.com/github/shariniun/assign-1/blob/main/Z_TEST_35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0

In [3]:
df[['Physical_activity','salt_content_in_the_diet']].describe()

       Physical_activity  salt_content_in_the_diet
count        2000.000000               2000.000000
mean        25254.424500              24926.097000
std         14015.439623              14211.692586
min           628.000000                 22.000000
25%         13605.750000              13151.750000
50%         25353.000000              25046.500000
75%         37382.250000              36839.750000
max         49980.000000              49976.000000

In [4]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['Physical_activity'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
80.11756391373662

In [5]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [6]:
ztest,pval1=stests.ztest(df['Physical_activity'],df['salt_content_in_the_diet'],value=100)
print(float(pval1))

0.6089471249721623

In [7]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis accepted , Alternative hyphothesis rejected